body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*
  background: #2d323b;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
    width: 100%;
    height: 100%;
}

* { z-index: 2; }
.particle, .particle > canvas, #particles-js { z-index: -1 !important; }

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2d323b;
    left: 0px;
    top: 0px;
}

.jumbotron {
    background-color: #00000020;
    color: #dbc72c;
}

.jumbotron hr {
    color: #dbc72c;
    border-color: #b5a29a20;
}

.p-sub-intro {
    color: #dbc72c60;
}
